
<script src="https://kit.fontawesome.com/6fd84a1e7d.js" crossorigin="anonymous"></script>
<%= render 'left', user: @user, book: @book %>

<h1>Users</h1>

<ul class="users">
<table class = "table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user) %></td>
    </tr>
  </tbody>
<% end %>

</table>

